<style>

/* RIGHT PORTLET STYLES */
#portal-column-two {
  position: static;
  left: 0;
  float: right;
  margin: 0 0 0.938em 0.938em;
  width: 0.075em;
}

#content dd {
  margin: 0; !important;
}

dl.portlet dd.portletItem, dl.portlet dd.portletFooter, dl.portletError dd {
  padding: 0.040em;
}

#portal-column-two {
  position: static;
  left: 0;
  float: right;
  margin: 0 0 0.075emx 0.075em;
  width: 12.500em;
  border: 0.005em solid rgba(1, 119, 80, .5);
  border-right: 0px;
  border-radius: 0.015em;
  background-color: rgba(238, 238, 238, .7);
}

dt.portletHeader {
  border:0px !important;
  border-radius: 0px !important;
}

dl.portlet a:link {
  color: #444 !important;
  border-bottom: 0.1em solid rgb(204, 204, 204);
}

dl.portlet a:visited {
  color: #444 !important;
  border-bottom: 0.1em solid rgb(204, 204, 204);
}


dl.portlet a:hover {
  color: #fff !important;
  border-bottom: 0.1em solid rgb(204, 204, 204);
}

#content dt {
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 0;
  text-align: center;
}

/* Cloud Login Button */
#content .sign-in-cloud {
  background: url('https://www.cpcc.edu/its/images/cloud/cloud-login-button') rgb(1,119,80);
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: 2.313em 1.250em;
  padding-left: 2.500em;
  margin: 0.125em;
  color: #FFF;
  border-radius: 0.313em;
  border: 0.063em solid rgb(4, 10, 8);
  font-weight: bold;}

#content .sign-in-cloud:hover {
  background: url('https://www.cpcc.edu/its/images/cloud/cloud-login-button') rgb(1,119,80);
  background-position: 0em;
  background-repeat: no-repeat;
  background-size: 2.313em 1.250em;
  padding-left: 2.500em;
  color: #fff;
  border-radius: 0.313em;
  border: 0.063em solid rgb(4,10,8);
}


/* PSEUDO FOOTER STYLES */
<style>
.pseudoContainer {
  width: 44.375em;
  border-radius: 0.125em;
}

.pseudoColStyle {
  border: 1px solid rgb(66,192,251);
  background-color: rgba(238, 238, 238, 0.3);
}

.pseudoColor {
  color: rgb(66,192,251);
  padding-right: 0.188em;
}

</style>