<style>

/* RIGHT PORTLET STYLES */
#portal-column-two {
  position: static;
  left: 0;
  float: right;
  margin: 0 0 0.938em 0.938em;
  width: 0.075em;
}

#content dd {
  margin: 0; !important;
}

dl.portlet dd.portletItem, dl.portlet dd.portletFooter, dl.portletError dd {
  padding: 0.040em;
}

#portal-column-two {
  position: static;
  left: 0;
  float: right;
  margin: 0 0 0.075emx 0.075em;
  width: 200px;
  border: 0.005em solid rgba(1, 119, 80, .5);
  border-right: 0px;
  border-radius: 0.015em;
  background-color: rgba(238, 238, 238, .7);
}

dt.portletHeader {
  border:0px !important;
  border-radius: 0px !important;
}

dl.portlet a:link {
  color: #444 !important;
  border-bottom: 0.1em solid rgb(204, 204, 204);
}

dl.portlet a:visited {
  color: #444 !important;
  border-bottom: 0.1em solid rgb(204, 204, 204);
}


dl.portlet a:hover {
  color: #fff !important;
  border-bottom: 0.1em solid rgb(204, 204, 204);
}

#content dt {
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 0;
  text-align: center;
}

/* Cloud Login Button */
#content .sign-in-cloud {
<<<<<<< HEAD
  background: url('https://www.cpcc.edu/its/images/cloud/cloud-login-button') rgb(1,119,80);
=======
  background: url('https://www.cpcc.edu/its/images/cloud/cloud-login-button') #017750;
>>>>>>> origin/master
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: 37px 20px;
  padding-left: 40px;
  margin: 2px;
  color: #FFF;
  border-radius: 5px;
  border: 1px solid rgb(4, 10, 8);
  font-weight: bold;
}

#content .sign-in-cloud:hover {
<<<<<<< HEAD
      background: url('https://www.cpcc.edu/its/images/cloud/cloud-login-button') rgb(1,119,80);
=======
      background: url('https://www.cpcc.edu/its/images/cloud/cloud-login-button') #05573C;
>>>>>>> origin/master
      background-position: 0px;
      background-repeat: no-repeat;
      background-size: 37px 20px;
      padding-left: 40px;
      color: #fff;
      border-radius: 5px;
      border: 1px solid rgb(4,10,8);
  }


/* PSEUDO FOOTER STYLES */
<style>
.pseudoContainer {
  width: 710px;
  border-radius: 2px;
}

.pseudoColStyle {
  border: 1px solid rgb(66,192,251);
  background-color: rgba(238, 238, 238, 0.3);
}

.pseudoColor {
    color: rgb(66,192,251);
    padding-right: 3px;
}

</style>